button {
  all: unset;
  text-align: center;
}

.ButtonDark {
  width: 360px;
  height: 64px;
  border-radius: 32px;
  background-color: #001847;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Pretendard-Bold';
}

.ButtonWhite {
  width: 400px;
  height: 64px;
  border-radius: 32px;
  background-color: #ffffff;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Pretendard-Bold';
}

.Button {
  box-shadow: #000000 25%;
}

.Button-NameCheck {
  width: 327px;
  height: 40px;
  border-radius: 32px;
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Pretendard-Bold';
}

.Input-Container {
  width: 327px;
  height: 56px;
  border-radius: 28px;

  background-color: #d9d9d9;
  justify-items: center;
}

.Input {
  color: #626262;
  width: 287px;
  height: 24px;
  border-radius: 24px;
  font-size: 20px;
  background-color: #ffffff;
  border: none;
  padding: 16px 20px 16px 20px;
}
