.ButtonDark {
  width: 327px;
  height: 64px;
  border-radius: 32px;
  background-color: #001847;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.ButtonWhite {
  width: 327px;
  height: 64px;
  border-radius: 32px;
  background-color: #ffffff;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
}

.Button {
  box-shadow: #000000 25%;
}

.Button-NameCheck {
  width: 327px;
  height: 40px;
  border-radius: 32px;
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}
