.App-MailboxNSnowman-container{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content:center;
    position:absolute;
    bottom: 0;
    margin-bottom: 330px;
}
.App-MailboxNSnowman-mail{
    margin-right: 7px;
    align-items: end;
    justify-self: end;
}
.App-MailboxNSnowman-snowman{
    margin-left: 8px;
}