.Setting-Container {
  background-color: none;
  display: flex;
  width: 327px;
  height: 36px;
  margin-top: 12px;
  margin-bottom: 12px;

  align-items: center;
}

.Setting-Container:hover {
  cursor: pointer;
}

.Setting-Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 281px;
}

.Setting-Icon {
  margin-right: 16px;
}

.Setting-Text {
  color: #ffffff;
}
