/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App-bg-non {
  background-color: #21222d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-bg {
  background: var(
    --background,
    linear-gradient(180deg, #001847 30%, #122f95 100%)
  );
  width: 480px;
  height: 932px;
}

.App-bg-fog {
  width: 100%;
  height: auto;
  margin-top: 185px;
}
.App-bg-snow {
  width: 100%;
  height: auto;
  margin-top: 116px;
  animation: moveUpDown 2s infinite alternate;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.App-bg-snow-floor-container {
  width: 100%;
  margin-top: 284px;
}
.App-bg-snow-floor-top {
  width: 420px;
  height: 10px;
  margin-right: 27px;
  margin-left: 33px;
  align-items: center;
  background-color: white;
}
.App-bg-snow-floor-middle {
  width: 460px;
  height: 14px;
  margin-left: 20px;
  background-color: white;
}
.App-bg-snow-floor-bottom {
  width: 480px;
  height: 200px;
  background-color: white;
}
.App-bg-snow-floor-container2 {
  width: 100%;
  margin-top: 164px;
}
.App-bg-snow-floor-bottom2 {
  width: 480px;
  height: 320px;
  background-color: white;
}

.overlap-container {
  position: relative;
}

.snow-bg-container {
  position: absolute;
  top: 0; /* Align to the top */
  align-items: center;
}

.main-container {
  height: 932px;
  width: 480px;
  position: absolute;
  top: 0; /* Align to the top */
  /* right: 0; Align to the right */
}

/* 아래는 폰트!! */
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  src: url("./font/Pretendard-Thin.otf") format("truetype");
}

@font-face {
  font-family: "Pretendard-Bold";
  font-weight: 500;
  src: url("./font/Pretendard-Bold.otf") format("truetype");
}

@font-face {
  font-family: 'Yoonwoo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Yoonwoo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
