/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App-bg-non{
  background-color: #21222D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-bg {
  background: var(--background, linear-gradient(180deg, #001847 30%, #122F95 100%));
  width: 480px;
  height: 932px;
}

.App-bg-fog {
  width: 100%;
  height: auto;
  margin-top: 185px;
}
